body {
    background-color: plum;
}

h1 {
    color: purple;
}

.formulier {
    text-align: center;
    background-color: lavender;
    border: 10px double purple;
    border-radius: 30px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 25px;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    border: 2px solid purple;
}

input[type="submit"]:hover {
    background-color: plum;
    color: black;
    border: 2px solid plum;
}