td a {
    color: darkgreen;
    text-decoration: none;
}

td a:hover {
    color: lawngreen;
    text-decoration: underline;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
