body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.logo {
    width: 300px;
    height: auto;
}

.puntjes {
    width: 17px;
    height: auto;
    opacity: 0.6; /*maakt afbeelding minder fel*/
    padding-left: 13px;
    padding-right: 13px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.zoekbalk {
    text-align: center;
    
}

#zoek {
    padding: 14px;
    width: 450px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.145);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border-color: red;
}

.tekst-rechts-boven {
    position: relative;
    display: block;
}

.tekst-boven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.linktekst-boven {
    color: #202124;
    padding: 6px;

}

.grijzebalk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.tekst-rechts-boven a:nth-child(4) {
    border: 5px solid transparent;
    border-radius: 4px;
    padding: 5px 18px;
    background-color: #1a73e8;
    color: white; 
    font-weight: 500;
    font-size: 15px;
    text-decoration: none; 

}

.linktekst-onder {
    color: #70757a;
    padding: 20px;
}

