body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.logo {
    width: 300px;
    height: auto;
}

.puntjes {
    width: 17px;
    height: auto;
    opacity: 0.6; /*maakt afbeelding minder fel*/
    padding-left: 13px;
    padding-right: 13px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.zoekbalk {
    text-align: center;
}

.nederland {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.knoppen input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 30px 4px;
    padding: 9px 16px;
}

.knoppen input[type="submit"]:hover {
    border: 1px solid rgb(133, 133, 133)
}

#zoek {
    padding: 14px;
    width: 450px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    outline: none;
}

#zoek:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.145);
}


.tekst-rechts-boven {
    position: relative;
    display: block;
}

.tekst-boven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.linktekst-boven {
    color: #202124;
    padding: 6px;
}

.frysk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grijzebalk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 290px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 15px 20px;
}

.tekst-rechts-boven a:nth-child(4) {
    border: 5px solid transparent;
    border-radius: 4px;
    padding: 5px 18px;
    background-color: #1a73e8;
    color: white; 
    font-weight: 500;
    font-size: 15px;
    text-decoration: none; 
}

.tekst-rechts-boven a:nth-child(4):hover {
    background-color: #1a0dab;
}

.linktekst-onder {
    color: #70757a;
    padding: 20px;
}

