.zoekbalk {
    text-align: center;
    margin: 325px;
}

#zoek {
    padding: 14px;
    width: 450px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.145);
}
