td a {
    color: darkgreen;
    text-decoration: none;
}

td a:hover {
    color: lawngreen;
    text-decoration: underline;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

th, td {
    border: 1px solid transparent;
    padding: 0;
    text-align: center;
}

img {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

td {
    font-size: 20px;
}

thead {
    height: 40px;
}

tfoot {
    height: 40px;
}

/*Opmaak titel*/
.Titels {
    background-color: rgba(220, 220, 220, 0.3);
}

/*Opmaak ACOTAR*/
.ACOTAR {
    background-color: rgba(255, 204, 204, 0.7);
}

.ACOTAR a {
    color: crimson;
}

.ACOTAR a:hover {
    color: maroon;
}

/*Opmaak Fourth Wing*/
.Fourth-wing {
    background-color: rgba(255, 255, 153, 0.5);
}

.Fourth-wing a {
    color: gold;
}

.Fourth-wing a:hover {
    color: sienna;
}

/*Opmaak Addicted*/
.Addicted {
    background-color: rgba(230, 230, 250, 0.6); 
}

.Addicted a {
    color: darkorchid;
}

.Addicted a:hover {
    color: fuchsia;
}

/*Opmaak Magnolia Parks*/
.Magnolia-parks {
    background-color: rgba(152, 251, 152, 0.4);
}

.Magnolia-parks a {
    color: darkolivegreen;
}

.Magnolia-parks a:hover {
    color: greenyellow;
}

/*Opmaak The Cruel Prince*/
.Cruel-prince {
    background-color: rgba(255, 204, 153, 0.4);
}

.Cruel-prince a {
    color: darkorange;
}

.Cruel-prince a:hover {
    color: tomato
}

/*Opmaak The Prison Healer*/
.Prison-healer {
    background-color: rgba(173, 216, 230, 0.5);
}

.Prison-healer a {
    color: deepskyblue;
}

.Prison-healer a:hover {
    color: cyan;
}