body {
    font-size: 14px;
    font-family: arial, sans-serif;
    margin: 0;
    min-height: 90vh;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}

.puntjes {
    width: 17px;
    height: auto;
    opacity: 0.6; /*maakt afbeelding minder fel*/
    padding-left: 13px;
    padding-right: 13px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.zoekbalk {
    text-align: center;
    margin-top: 70px;
}


.knoppen input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 30px 4px;
    padding: 9px 16px;
}

.knoppen input[type="submit"]:hover {
    border: 1px solid #dadce0
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    padding: 8px;
    width: 550px;
    margin: auto;
}

.search-icon img {
    width: 15px; 
    height: 15px; 
    margin: 0 5px;
}

.camera-icon img {
    width: 27px; 
    height: 27px;
    margin: 0 -5px;
}

#zoek {
    border: none;
    width: 500px;
    outline: none;
}

#zoek input[type="text"] {
    flex: 1; 
    outline: none;
    border: none;
    font-size: 14px;
}

.tekst-rechts-boven {
    position: relative;
    display: block;
}

.tekst-boven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.linktekst-boven {
    color: #202124;
    padding: 6px;
}

.frysk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    position: sticky;
    bottom: 0;
    margin-top: 12.5%;
}

.nederland {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    
}

.middenonder img {
    width: 14px;
    height: 14px;
    padding-right: 4px;
}

.grijzebalk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 15px 20px;
}

.tekst-rechts-boven a:nth-child(4) {
    border: 5px solid transparent;
    border-radius: 4px;
    padding: 5px 18px;
    background-color: #1a73e8;
    color: white; 
    font-weight: 500;
    font-size: 15px;
    text-decoration: none; 
}

.tekst-rechts-boven a:nth-child(4):hover {
    background-color: #1a0dab;
}

.linktekst-onder {
    color: #70757a;
    padding: 20px;
}

