/*hieronder css voor algemeen*/

body {
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
}

h1 {
    color: darkgreen;
    margin-top: 50px;
}

h2 {
    color: darkslategray;
    text-shadow: 1px 1px 3px darkgreen;
}

h3 {
    color: darkslategray;
}

.navigatiebar {
    background-color: #64A164;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
}

.navigatiebar a {
    color: darkslategray;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigatiebar a:hover {
    text-decoration: underline;
    color: darkseagreen;
}

#active {
    text-decoration: underline;
    color: darkseagreen;
}

/*hieronder css voor bibliotheek*/


.content-bibliotheek {
    display: flex;
    justify-content: space-between;
}

.titel-bibliotheek {
    text-align: center;
}

.tekst {
    width: 500px;
    padding: 25px;
    margin-left: 50px;
    margin-top: 55px;
}

.nieuws {
    background-color: #00fd0046;
    border: 10px double darkgreen;
    border-radius: 30px;
    width: 250px;
    float: right;
    margin-right: 50px;
    margin-top: 55px;
    text-align: center;
}

.nieuws ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
}

.nieuws ul > ul > li:last-child {
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    color: darkslategray;
}

footer {
    background-color: #64A164;  
    display: flex;
    justify-content: center; /* Horizontale uitlijning in het midden van de pagina */
    align-items: center; /* Verticale uitlijning in het midden van de pagina */
    margin-top: 20px;
    padding: 1px 0;
}

footer td {
    font-size: 27px;
    font-weight: bold;
    color: darkslategray;
    text-shadow: 1px 1px 3px darkgreen;
}

.goodreads-logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.storygraph-logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

/*hieronder css voor contact*/

.vul-in {
    color: darkslategray;
    text-shadow: 1px 1px 3px darkgreen;
    font-size: 32px;
}

.contact {
    text-align: center;
}

.sterren-rating {
    font-size: 24px;
    cursor: pointer;
}

.sterren-rating .ster {
    display: inline-block;
    margin-right: 5px;
    color: darkgreen;
}

.contactformulier {
    text-align: center;
    background-color: #00fd0046;
    border: 10px double darkgreen;
    border-radius: 30px;
    width: 400px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-bottom: 40px;

}

.contactformulier label {
    font-size: 16px;
}

input[type="submit"] {
    background-color: darkgreen;
    color: white;
    border: 2px solid darkgreen;
}

input[type="submit"]:hover {
    background-color: darkseagreen;
    color: black;
    border: 2px solid black;
}

.contactformulier input[type="text"],
.contactformulier textarea {
    border-color: darkgreen;
    border-width: 2px;
    border-style: inset;
    margin-bottom: 10px;
}


/*hieronder css voor tbr*/

img {
    width: 100px;
    height: auto;
}

thead {
    font-size: 20px;
    color: darkslategray;
    text-shadow: 1px 1px 3px darkgreen;

}

table {
    border-spacing: 10px;
    border-collapse: collapse;
}

.tbr tr {
    border-bottom: 2px solid rgba(0, 100, 0, 0.3);
}

td {
    padding: 8px;
}

.Book-link:hover{
    color: darkslategray;
    text-decoration: underline;
}

.Book-link {
    color: darkgreen;
    text-decoration: none;
}

.Spoilers {
    font-weight: bold;
}

/* hieronder css voor mijn boeken*/

.mijnboeken-tabel {
    column-count: 2; /* Het aantal kolommen waarin de tabel moet worden gesplitst */
    column-gap: 20px; /* Ruimte tussen de kolommen */
    display: flex;
    justify-content: space-between;
}

.mijnboeken-tabel li {
    list-style-type: none;
}

.al-mijn-boeken {
    width: 100%; /* Zorgt ervoor dat de tabel de volledige breedte van de kolom inneemt */
    margin-bottom: 20px; /* Voeg wat ruimte toe onder de tabel */
    border-collapse: collapse;
    width: 48%; /* Voeg een beetje marge toe tussen de tabellen */
}

.al-mijn-boeken td, .al-mijn-boeken th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }